<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG Regression Suite" verbose="4">

	<test name="Test 1">
		<classes>
			<class name="testngsession.PriorityTest" />
		</classes>
	</test>
	
	<test name="Test 2">
		<classes>
			<class name="testngsession.LoginPageTest" />
		</classes>
	</test>
	


</suite>


